<!-- Basic datatable -->
<div class="panel panel-flat listing-form">
    
    <form class="listing-form">
        
        <div class="filter-box">
            
            <span class="inline check_all_list">
                <input type="checkbox" class="styled check_all">
            </span>
            <span class="btn-group list_actions hide">
                <button type="button" class="btn btn-xs btn-grey-600 dropdown-toggle" data-toggle="dropdown">
                    Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a delete-confirm="" href="">
                            <i class="icon-trash"></i> Delete
                        </a>
                    </li>
                </ul>
            </span>

            <span class="filter-group">
                <span class="title text-semibold text-muted">Sort by</span>
                <select class="select" name="sort-order">
                    <option value="name">Name</option>
                    <option value="created_at">Created at</option>
                </select>										
                <button class="btn btn-xs sort-direction" rel="asc" data-popup="tooltip" title="Change sort direction" type="button" class="btn btn-xs">
                    <i class="icon-sort-amount-asc"></i>
                </button>
            </span>
            <span class="text-nowrap filter-group pull-right">
                <input name="search_keyword" class="form-control search" placeholder="Type to search" />
                <i class="icon-search4 keyword_search_button"></i>
            </span>
        </div>
        
        <div class="table-container">
            <table class="table" current-page="<%= params[:page] %>">
                <thead>
                    <tr class="bg-teal-800">
                        <th>Email</th>
                        <th>Admin?</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |item| %>
                        <tr>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.admin %>
                            </td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-footer showed">
                    <div class="dataTables_info" ><%= page_entries_info @users %></div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <%= will_paginate @users, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
    
</div>
<!-- /basic datatable -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/js/listing.js' %>
<!-- /theme JS files -->