<% title t(:users) %>

<div class="page_actions">
    <%= link_to ("#{t(:new_user)}" + '<i class="icon-plus22 position-right"></i>').html_safe, naturesoft.new_admin_user_path, class: 'btn btn-primary' %>
</div>
<br />

<!-- Basic datatable -->
<div class="panel panel-flat listing-form">
    <form class="listing-form" data-url="">				
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th width="1%"><%= t(:image) %></th>
                        <th><%= t(:email) %></th>
                        <th><%= t(:is_admin) %></th>
                        <th><%= t(:created_at) %></th>
                        <th><%= t(:actions) %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |item| %>
                        <tr>
                            <td>
                                <% if !current_user.image.present? %>
                                    <img width="50" class="img-circle" src="<%= url_for("/backend/assets/images/placeholder.jpg") %>" alt="">
                                <% else %>
                                    <img width="50" class="img-circle" src="<%= current_user.image.system %>" alt="">
                                <% end %>
                            </td>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.admin %>
                            </td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft.edit_admin_user_path(item), class: "btn bg-teal-400 btn-icon" %>
                                    <button type="button" class="btn bg-teal-400 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">                                        
                                        <li>
                                            <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe + t(:delete), naturesoft.admin_user_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-footer showed">
                    <div class="dataTables_info" ><%= page_entries_info @users %></div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <%= will_paginate @users,
                            previous_label: '←',
                            next_label: '→',
                            renderer: BootstrapPagination::Rails
                        %>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
    
</div>
<!-- /basic datatable -->
