<% title t(:users) %>

<!-- Basic datatable -->
<div class="panel panel-flat listing-form">
    
    <div class="panel-heading col-md-12">
        <h5 class="panel-title col-md-6"><span class="text-semibold"><%= t(:users) %></span></h5>
        <%= link_to t(:new_user), naturesoft.new_admin_user_path, class: 'btn btn-primary pull-right' %>
    </div>
    
    <form class="listing-form" data-url="">				
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th><%= t(:email) %></th>
                        <th><%= t(:is_admin) %></th>
                        <th><%= t(:created_at) %></th>
                        <th><%= t(:actions) %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |item| %>
                        <tr>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.admin %>
                            </td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                            <td></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-footer showed">
                    <div class="dataTables_info" ><%= page_entries_info @users %></div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <%= will_paginate @users,
                            previous_label: '←',
                            next_label: '→',
                            renderer: BootstrapPagination::Rails
                        %>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
    
</div>
<!-- /basic datatable -->
