<!-- Basic datatable -->
<div class="panel panel-flat listing-form">
    
    
    <form class="listing-form"
        data-url=""
    >				
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th>Email</th>
                        <th>Admin?</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |item| %>
                        <tr>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.admin %>
                            </td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-footer showed">
                    <div class="dataTables_info" ><%= page_entries_info @users %></div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <%= will_paginate @users, previous_label: 'â†', next_label: 'â†’', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
    
</div>
<!-- /basic datatable -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/js/listing.js' %>
<!-- /theme JS files -->