Xin chào TimHangCongNghe.vn, <br />
Bạn vừa nhận được một liên hệ có nội dung sau đây:
<p>
    - Họ tên: <%= @contact.last_name %> <br />
    - Địa chỉ email: <%= @contact.email %> <br />
    - SĐT liên hệ: <%= @contact.phone %> <br />
    - Chủ đề quan tâm: <%= @contact.subject %> <br />
    - Lời nhắn: <%= @contact.message %> <br />
    - Mã đơn hàng (nếu có):
</p>