<!DOCTYPE html>
<html lang="en">
    <head>
        <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= yield(:title) %> - Global Naturesoft</title>
        
        <meta content="abc123blahblahauthenticitytoken" name="csrf-token">
		
		<%= render "admin/modules/header_script" %>		
        
    </head>   
    
	
	<% if params[:controller] == "naturesoft/admin/dashboard" %>
		<body class="navbar-top">
			<!-- Main navbar -->
			<%= render "admin/modules/main_navbar" %>
			<!-- /main navbar -->
			
			<!-- Page container -->
			<div class="page-container">
			
				<!-- Page content -->
				<div class="page-content">
			
					<!-- Main sidebar -->
					<div class="sidebar sidebar-main">
						<div class="sidebar-content">
			
							<!-- User menu -->
							<%= render "admin/modules/user_menu" %>
							<!-- /user menu -->
			
							<!-- Main navigation -->
							<%= render "admin/modules/main_menu" %>
							<!-- /main navigation -->
			
						</div>
					</div>
					<!-- /main sidebar -->
			
					<!-- Main content -->
					<div class="content-wrapper">
						
						<!-- Page header render "admin/modules/page_header" -->
						
						<!-- /page header -->

						<!-- Content area -->
						<div class="content main-content">        
							<div class="tabbable tab-content-bordered ns-main-tabs">
								<div class="tabs-scroll">
									<div class="tabs-scroll-cont">
										<ul class="nav nav-pills nav-pills-highlight nav-pills-toolbar">
											<li class="active">
												<a data-src="tab_home" href="#tab_home" data-toggle="tab">
													<i class="icon-home4"></i>
												</a>									
											</li>									
										</ul>
									</div>
									<div class="bottom-line"></div>
								</div>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_home">										
										<%= yield %>
									</div>
								</div>
							</div>
							
							<!-- Footer -->
							<%= render 'admin/modules/footer' %>
							<!-- /footer -->
						
						</div>
						<!-- /content area -->
			
					</div>
					<!-- /main content -->
			
				</div>
				<!-- /page content -->
			
			</div>
			<!-- /page container -->
			
	<% else %>
		<body style="background: none">
			<div class="inner-page">
				<div class="tab-loading">
					<i class="icon-spinner11 spinner position-left"></i>
				</div>
				<div class="breadcrumb-line ">
					<ul class="breadcrumb breadcrumb-flat">
						<li><%= link_to '<i class="icon-home2 position-left"></i> Home'.html_safe, naturesoft.admin_dashboard_path %></li>
						<%= render_breadcrumbs :tag => :li, :separator => "" %>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1 class=""><%= yield(:title) %></h1>
					</div>
				</div>
				<%= yield %>
				<br style="clear: both" />
			</div>
	<% end %>
		
		<!-- Flash messages -->
		<%= render 'admin/modules/flash_messages' %>
		<!-- /flash messages -->
		
		<!-- Footer -->
		<%= render 'admin/modules/modals' %>
		<!-- /footer -->
		
    </body>
</html>